.saleFormContainer {
  width: 100%;
  padding-right: 10px;
}

.saleForm {
  display: flex;
}

.emptyMessageText {
  text-align: left;
  color: #e61111cc;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.emptyMessageText p {
  font-size: 12px;
}

.priceLabel {
  width: 40%;
  text-align: right;
  margin: 8px 18px 0px 10px;
  color: #f73505f7;
  font-size: 20px;
  border-bottom: #f73505f7 1px dotted;
}

.qtyCell {
  display: flex;
}

.qtyCell span {
  margin-top: 5px;
  width: 60px;
}

.ui.buttons.left {
  margin-left: 20px;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}

.row > .col1 {
  width: 40%;
}

.row > .col1 > span {
  font-size: 14px;
  float: right;
}

.row > .col2 {
  width: 40%;
  padding-left: 50px;
}

.row > .col2 > span {
  font-size: 18px;
  float: left;
  color: black;
}

.col2 > .ui.input input {
  border: none;
  margin-top: -10px;
  padding-left: 0px;
  border-bottom: 1px #2384d0 solid;
  border-radius: 0px;
}

.col2 > .ui.input input:focus,
.ui.input.focus input {
  border-bottom: 1.5px #2384d0 solid;
}

.row > .col2 > span.netBillLabel {
  color: red;
  font-weight: bold;
}

.row.line {
  height: 1px;
  border-bottom: 1px #0000001a solid;
  align-self: center;
}

.center {
  width: 50%;
  margin: auto;
}

.ui.buttons.btnGroup-sales {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}
