.ui.modal .scrolling.content::-webkit-scrollbar {
  width: 6px;
}

#tabContainer .ui.segment {
  margin-top: 5px;
  border: 0px;
}

#tabContainer .ui.secondary.pointing.menu .active.item {
  font-weight: 500;
  background-color: #f2f2f2;
  border-color: #6335ca;
}

#tabContainer .ui.tabular.menu .item {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
